doctype html
head
	title BitsAndBytes Home
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
	link(rel='stylesheet' type='text/css' href='sitewide.css')

	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')


body.bits-body
	nav.navbar.navbar-inverse.bits-border-rounded.bits-navbar
		.container-fluid
			.navbar-header
				button.navbar-toggle.bits-navbar-collapse(type="button" data-toggle="collapse" data-target="#myNavbar")
					span.icon-bar.bits-navbar-collapse-span
					span.icon-bar.bits-navbar-collapse-span
					span.icon-bar.bits-navbar-collapse-span
				a.navbar-brand.bits-text(href="#") BitsAndBytes
			#myNavbar.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a.bits-text(href="/") Home
					if acctype === 'Admin'
						li
							a.bits-text(href="createsurvey") Create Survey
				ul.nav.navbar-nav.navbar-right
					li
						a.bits-text(href='/logout')
							span.glyphicon.glyphicon-log-out
							|  Log Out
	.jumbotron.text-center.bits-primary.bits-border-rounded
		h1.bits-text Home
		#container.col
		if acctype === 'Admin'
			h2.bits-text Configure Email message
			div
				p.bits-text Send an Email
				div.bits-div
					form(action='SendParentMail' method='GET')
						button.btn.btn-default(type='submit') Send to Parents
					form(action='SendStudentMail' method='GET')
						button.btn.btn-default(type='submit') Send to Students
					form(action='SendAllMail' method='GET')
						button.btn.btn-default(type='submit') Send to All
					br
					br
					form(action='SendMail' method='GET')
						select(name="mailto" placeholder="Select.." class="form-control" width="200%")
							each val in maillist
								option(value=val) #{val}
						button.btn.btn-default(type='submit') Send to This Individual

		else
			h2 Please login to view contents
