<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bits and Bytes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="sitewide.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

  <body class="bits-body">
    <nav class="navbar navbar-inverse navbar-fluid bits-border-rounded">
       <div class="container-fluid bits-navbar">
          <div class="navbar-header">
             <button type="button" class="navbar-toggle bits-navbar-collapse" data-toggle="collapse" data-target="#myNavbar">
             <span class="icon-bar bits-navbar-collapse-span"></span>
             <span class="icon-bar bits-navbar-collapse-span"></span>
             <span class="icon-bar bits-navbar-collapse-span"></span>
             </button>
             <a class="navbar-brand bits-text" href="/">BitsAndBytes</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
             <ul class="nav navbar-nav">
                <li><a class="bits-text" href="/">Home</a></li>
                <li><a class="bits-text" href="createsurvey">Create Survey</a></li>
                <li><a class="bits-text" href="">Contact</a></li>
             </ul>
             <ul class="nav navbar-nav navbar-right">
               <li><a class="bits-text" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
             </ul>
          </div>
       </div>
    </nav>



<form class="container bits-primary bits-border-rounded" style="width:80%" id='newAnnouncement' onsubmit="return createAnnouncement()" action="createannouncement" method="post">
  <h2 class="bits-text">Create Announcement</h2>
  <div class="form-group">
    <label class="bits-text" for="title">Title</label>
    <input name="title" type="text" class="form-control" id="title" placeholder="Enter Title"></div>
    <div class="form-group">
      <label class="bits-text" for="content">Announcement</label>
      <textarea class="form-control" id="content" placeholder="Enter Announcement" style="height: 200px"></textarea>
    </div>
    <div class="form-group">
      <!--<label for="myFile">Upload Photo</label>
      <input type="file" class="form-control-file" id="myFile">-->
    </div>
    <button type="button" onclick="createAnnouncement()" class="btn btn-secondary">Preview</button>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br><br>
    <input type="hidden" name="finishedAnnouncement" id="hiddenAnnouncementInput" value="null">
</form>

<div id='announcementBox'>
</div>
<br></br>

<!--<form action="/action_page.php">
  <input type="submit" value="Submit">
</form>
<input type="file" id="myFile">-->
<div id='currentAnnouncements' class="container bits-primary bits-border-rounded"></div>
<script src="newAnnouncement.js"></script>
<script src="fileUploadButton.js"></script>
<!-- These are bootstrap scripts that should be left at the bottom of the page. -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
