doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Bits and Bytes
    // Bootstrap style sheet (Must be placed ahead of all other CSS sheets)
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel='stylesheet', href='announcements.css')
  body(style='background-color:#FFA15C')
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') BitsAndBytes
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='') Home
            li
              a(href='signup') Sign up
            li
              a(href='createsurvey') Create Survey +Test
            li
              a(href='') Contact
          ul.nav.navbar-nav.navbar-right
            li
              a(href='logout')
                span.glyphicon.glyphicon-log-out
                |  Login
    h2.container Announcements
    form#newAnnouncement.container(onsubmit='return createAnnouncement()')
      button#newAnnouncementButton(onclick='newAnnouncement()') Create Announcement
    #announcementBox
    br
    br
    //
      <form action="/action_page.php">
      <input type="submit" value="Submit">
      </form>
      <input type="file" id="myFile">
    #currentAnnouncements.container
    script(src='newAnnouncement.js')
    script(src='fileUploadButton.js')
    // These are bootstrap scripts that should be left at the bottom of the page.
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
