<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bits and Bytes</title>
  <!-- Bootstrap style sheet (Must be placed ahead of all other CSS sheets)-->
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="announcements.css">

</head>

  <body style="background-color:#FFA15C">
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">BitsAndBytes</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                      <li class="active"><a href="">Home</a></li>
                      <li><a href="signup">Sign up</a></li>
                      <li><a href="createsurvey">Create Survey +Test</a></li>
                      <li><a href="">Contact</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Login</a></li>
                  </ul>
              </div>
          </div>
      </nav>


<h2 class="container">Create Announcement</h2>
<form id='newAnnouncement' action="createannouncement" method="post" class="container">
  <div class="form-group">
    <label for="title">Title</label>
    <input name="title" type="text" class="form-control" id="title" placeholder="Enter Title"></div>
    <div class="form-group">
      <label for="content">Announcement</label>
      <textarea class="form-control" id="content" placeholder="Enter Announcement"></textarea>
    </div>
    <div class="form-group">
      <!--<label for="myFile">Upload Photo</label>
      <input type="file" class="form-control-file" id="myFile">-->
    </div>
    <button type="button" onclick="createAnnouncement()" class="btn btn-secondary">Preview</button>
    <button type="submit" class="btn btn-primary">Submit</button>
    <input type="hidden" name="finishedAnnouncement" id="hiddenAnnouncementInput" value="null">
</form>

<div id='announcementBox'>
</div>
<br></br>

<!--<form action="/action_page.php">
  <input type="submit" value="Submit">
</form>
<input type="file" id="myFile">-->
<div id='currentAnnouncements' class="container"></div>
<script src="newAnnouncement.js"></script>
<script src="fileUploadButton.js"></script>
<!-- These are bootstrap scripts that should be left at the bottom of the page. -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
