doctype html
head
    title Error
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='sitewide.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')

body.bits-primary
    h1.bits-text Download Complete!
    p.bits-text Please check your files to view the CSV