doctype html
head
	title BitsAndBytes Home
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
	link(rel='stylesheet' type='text/css' href='sitewide.css')

	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')

body.bits-body
	nav.navbar.navbar-inverse.bits-border-rounded.bits-navbar
		.container-fluid
			.navbar-header
				button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand.bits-text(href="#") BitsAndBytes
			#myNavbar.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a.bits-text(href="/") Home
					li
						a.bits-text(href="signup") Sign up
					li
						a.bits-text(href="createsurvey") Create Survey
					li
						a.bits-text(href="/") Login
				ul.nav.navbar-nav.navbar-right
					li
						a.bits-text(href='/logout')
							span.glyphicon.glyphicon-log-out
							|  Log Out
	.jumbotron.text-center.bits-primary.bits-border-rounded
		h1.bits-text Home
		#container.col
		if acctype === 'Student'
			ul.nav.nav-tabs
				li.active
					a.bits-text(data-toggle='tab' href='#home') Check In
				li
					a.bits-text(data-toggle='tab' href='#menu1') Check Out
				li
					a.bits-text(data-toggle='tab' href='#menu2') TBD
			.tab-content
				#home.tab-pane.fade.in.active
					h2 Check In
					div
						p Click here to check in
						form(action='checkin' method='GET')
							input(type='submit' value='Check In')


				#menu1.tab-pane.fade
					h2 Check Out
					div
						p Click here to check out
						form(action='checkout' method='GET')
							input(type='submit' value='Check Out')

				#menu2.tab-pane.fade
					h2 TBD
					div
						p tbd

		else if acctype === 'Parent'
			ul.nav.nav-tabs
				li.active
					a.bits-text(data-toggle='tab' href='#home') Registration
				li
					a.bits-text(data-toggle='tab' href='#menu1') Student Sign up
				li
					a.bits-text(data-toggle='tab' href='#menu2') Timestamps
			.tab-content
				#home.tab-pane.fade.in.active
					h2 Registration
					div
						p Click here to download the registration form:
						form(action='registration' method='GET')
							input(type='submit' value='cat')
						form(action='test' method='GET')
							input(type='submit' value='test')
						div
						if !hasPermission
						p Upload Permission Slip:
						form(action='/uploadpermission' enctype='multipart/form-data' method='POST')
							input(type='file' name='permission' style='align: center')
							input(type='submit' value='Upload a File')
						if !hasWaiver
						p Upload Waiver:
						form(action='/uploadwaiver' enctype='multipart/form-data' method='POST')
							input(type='file' name='waiver' style='align: center')
							input(type='submit' value='Upload a File')
				#menu1.tab-pane.fade
					h2 Sign up a student
					div
						p Click here to sign up a student
						form(action='studentsignup' method='GET')
							input(type='submit' value='Student Sign up')
						div
				#menu2.tab-pane.fade
					h2 Check a students Timesheet
					div
						p Click here to download Check a students timesheet
						form(action='registration' method='GET')
							input(type='submit' value='cat')
						form(action='test' method='GET')
							input(type='submit' value='test')
						div





		else if acctype === 'Admin'
			ul.nav.nav-tabs
				li.active
					a.bits-tabs-item(data-toggle='tab' href='#home') Create survey
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu1') Announcements
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu2') Modify Student
			.tab-content
				#home.tab-pane.fade.in.active
					h2.bits-text Registration
					div
						p.bits-text Create a survey using the survey creator
						form(action='createsurvey' method='GET')
						button.btn.btn-default(type='submit') Create Survey

				#menu1.tab-pane.fade
					h2.bits-text Announcements
					div
						p.bits-text Click here to create an announcements
						form(action='announcements' method='GET')
							button.btn.btn-default(type='submit') Announcements
						div
				#menu2.tab-pane.fade
					h2.bits-text Modify Student
					div
						p.bits-text Modify a Student's information
						form(action='registration' method='GET')
							button.btn.btn-default(type='submit') Modify
			h3.bits-text Welcome Admin


		else
			h2 Please login to view contents
	script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
