doctype html
head
	title BitsAndBytes Home
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
	link(rel='stylesheet' type='text/css' href='sitewide.css')

	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')

body.bits-body
	nav.navbar.navbar-inverse.bits-border-rounded.bits-navbar
		.container-fluid
			.navbar-header
				button.navbar-toggle.bits-navbar-collapse(type="button" data-toggle="collapse" data-target="#myNavbar")
					span.icon-bar.bits-navbar-collapse-span
					span.icon-bar.bits-navbar-collapse-span
					span.icon-bar.bits-navbar-collapse-span
				a.navbar-brand.bits-text(href="#") BitsAndBytes
			#myNavbar.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a.bits-text(href="/") Home
					if acctype === 'Admin'
						li
							a.bits-text(href="createsurvey") Create Survey
				ul.nav.navbar-nav.navbar-right
					li
						a.bits-text(href='/logout')
							span.glyphicon.glyphicon-log-out
							|  Log Out
	.jumbotron.text-center.bits-primary.bits-border-rounded
		h1.bits-text Home
		#container.col
		if acctype === 'Student'
			ul.nav.nav-tabs
				li.active
					a.bits-tabs-item(data-toggle='tab' href='#home') Check In
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu1') Check Out
				li
					a(data-toggle='tab' href='#menu2') Take Survey

			.tab-content
				#home.tab-pane.fade.in.active
					h2.bits-text Check In
					div
						if !checkedIn
							p.bits-text Click here to check in
							form(action='checkin' method='GET')
								button.btn.btn-default(type='submit') Check In
						else
							p.bits-text You have already checked in today


				#menu1.tab-pane.fade
					h2.bits-text Check Out
					div
						p.bits-text Click here to check out
						form(action='checkout' method='GET')
							button.btn.btn-default(type='submit') Check Out

				#menu2.tab-pane.fade
					h2.bits-text Take Survey
					div
						p.bits-text Click here to take the presurvey
						form(action='PresurveyStudent' method='GET')
							button.btn.btn-default(type='submit' value='Presurvey') Pre-survey

						p.bits-text Click here to take the postsurvey
						form(action='PostsurveyStudent' method='GET')
							button.btn.btn-default(type='submit' value='Postsurvey') Post-survey

		else if acctype === 'Parent'
			ul.nav.nav-tabs
				li.active
					a.bits-tabs-item(data-toggle='tab' href='#home') Registration
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu1') Student Sign up
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu2') Timestamps
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu3') Take Survey
			.tab-content
				#home.tab-pane.fade.in.active
					h2.bits-text Registration
					div
						p.bits-text Click here to download the registration form:
						form(action='registration' method='GET')
							button.btn.btn-default(type='submit') Cat
						form(action='test' method='GET')
							button.btn.btn-default(type='submit') Test
						div
						if !hasPermission
						p.bits-text Upload Permission Slip:
						form(action='/uploadpermission' enctype='multipart/form-data' method='POST')
							input(type='file' name='permission' style='align: center')
							button.btn.btn-default(type='submit') Upload a File
						if !hasWaiver
						p.bits-text Upload Waiver:
						form(action='/uploadwaiver' enctype='multipart/form-data' method='POST')
							input(type='file' name='waiver' style='align: center')
							button.btn.btn-default(type='submit') Upload a File
				#menu1.tab-pane.fade
					h2.bits-text Sign up a student
					div
						p.bits-text Click here to sign up a student
						form(action='studentsignup' method='GET')
							button.btn.btn-default(type='submit') Student Sign up
						div
				#menu2.tab-pane.fade
					h2.bits-text Check a students Timesheet
					div
						p.bits-text Click here to download Check a students timesheet
						form(action='registration' method='GET')
							button.btn.btn-default(type='submit') Cat
						form(action='test' method='GET')
							button.btn.btn-default(type='submit') Test
						div

				#menu3.tab-pane.fade

					div
						p Click here to take the presurvey
						form(action='PresurveyParent' method='GET')
							input(type='submit' value='Presurvey')


						p Click here to take the postsurvey
						form(action='PostsurveyParent' method='GET')
							input(type='submit' value='Postsurvey')



		else if acctype === 'Admin'
			ul.nav.nav-tabs
				li.active
					a.bits-tabs-item(data-toggle='tab' href='#home') Create survey
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu1') Announcements
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu2') Modify Student
			.tab-content
				#home.tab-pane.fade.in.active
					h2.bits-text Registration
					div
						p.bits-text Create a survey using the survey creator
						form(action='createsurvey' method='GET')
						button.btn.btn-default(type='submit') Create Survey

				#menu1.tab-pane.fade
					h2.bits-text Announcements
					div
						p.bits-text Click here to create an announcements
						form(action='announcements' method='GET')
							button.btn.btn-default(type='submit') Announcements
						div
				#menu2.tab-pane.fade
					h2.bits-text Modify Student
					div
						p.bits-text Modify a Student's information
						form(action='registration' method='GET')
							button.btn.btn-default(type='submit') Modify
			h3.bits-text Welcome Admin


		else
			h2 Please login to view contents
