doctype html
head
    title Modification Complete
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    link(rel='stylesheet' type='text/css' href='sitewide.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')

body.bits-primary
    h1.bits-text Modification Successful!
    form(action='modifyparent' method='GET' style="align: center")
        button.btn.btn-default(type='submit') Back to Modify