<!DOCTYPE html>
<html><head>
<title>Bits And Bytes Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head> <body style="background-color:#5EB2F2"><div class="form-group" id="questionsDiv"><h4>postsurvey (Student Survey)</h4><div><p>what color do you like from those colors</p><div class="form-check"><input type="checkbox" class="form-check-input" name="check1-0" value="checked" id="option1-0"><label class="form-check-label" for="option1-0">red</label></div><div class="form-check"><input type="checkbox" class="form-check-input" name="check1-1" value="checked" id="option1-1"><label class="form-check-label" for="option1-1">blue</label></div></div><br></div>
</body>
</html>