<!DOCTYPE html>
<html><head>
<title>Bits And Bytes Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head> <body style="background-color:#c2ab82"><div class="form-group" id="questionsDiv"><h4>test (Parent Survey)</h4><div><p></p><div class="form-check"><input type="radio" class="form-check-input" name="question1" value="0" id="option1-0"><label class="form-check-label" for="option1-0">b</label></div><div class="form-check"><input type="radio" class="form-check-input" name="question1" value="1" id="option1-1"><label class="form-check-label" for="option1-1">c</label></div><div class="form-check"><input type="radio" class="form-check-input" name="question1" value="2" id="option1-2"><label class="form-check-label" for="option1-2">d</label></div></div><br></div>
</body>
</html>