<!DOCTYPE html>
<html><head>
<title>Bits And Bytes Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head> <body style="background-color:#c2ab82"><div class="form-group" id="questionsDiv"><h4>presurvey (Student Survey)</h4><div><p>lsdjflsdf'sa</p><div class="form-check"><input type="radio" class="form-check-input" name="question1" value="0" id="option1-0"><label class="form-check-label" for="option1-0">ldf;sdfk;dkf;</label></div><div class="form-check"><input type="radio" class="form-check-input" name="question1" value="1" id="option1-1"><label class="form-check-label" for="option1-1">dfjdsf;kf</label></div></div><br><div><p>;gk;lfgkg;sfkfsdf</p><div class="form-check"><input type="checkbox" class="form-check-input" name="check2-0" value="checked" id="option2-0"><label class="form-check-label" for="option2-0">sldjfjdhfskdfj</label></div><div class="form-check"><input type="checkbox" class="form-check-input" name="check2-1" value="checked" id="option2-1"><label class="form-check-label" for="option2-1">jddfhsldlf;k</label></div></div><br></div>
</body>
</html>