<!DOCTYPE html>
<head>
<title>Bits and Bytes</title>
  <link rel="stylesheet" href="announcements.css">
</head>
<body>
    <h1>Registration</h1>
    <div>
        <p>Click here to download the registration form:</p>
        <form action="registration" method="GET">
            <input type="submit" value ="Registration Form">
        </form>
        <form action="test" method="GET">
            <input type="submit" value ="Test Form">
        </form>
    </div>
    <br>
    <div>
        <form action="/uploadfile" enctype="multipart/form-data" method="POST"> 
            <input type="file" name="myFile" />
            <input type="submit" value="Upload a file"/>
         </form>
    </div>
</body>
</html>
