<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="loginAnSignUp.css">
  </head>
  <body>
 <div class="wrapper-main">
        <section class="section-default">
           <form class="form-login" action="reg" method="post">
		   				<h3>Registration</h3>
              <input list="acctype" name="acctype" placeholder="Register as" type="text">		
               <datalist id="acctype" >
                  Register as
                  <option value="Student"/>
                  <option value="Parent"/>
               </datalist>

            <input type="text" name="firstname" placeholder="First">
            <input type="text" name="lastname" placeholder="Last">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="email" placeholder="E-mail">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="rptpassword" placeholder="Repeat password">
            <button type="submit" name="signup-submit">Sign up</button>
           </form>
  </section>
  </div>
 

</body>
</html>