<!DOCTYPE html>
<html>
   <head>
      <title>Bits And Bytes Login</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="sitewide.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   </head>
   <body class="bits-body">
     <nav class="navbar navbar-inverse navbar-fluid bits-border-rounded">
        <div class="container-fluid bits-navbar">
           <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand bits-text">BitsAndBytes</a>
           </div>
           <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                 <li><a class="bits-text" href="/">Home</a></li>
                 <li><a class="bits-text" href="signup">Sign up</a></li>
                 <li><a class="bits-text" href="">Contact</a></li>
              </ul>
           </div>
        </div>
     </nav>
      <div class="container text-center bits-primary bits-border-rounded" style="width: 50%;">
         <div class="d-flex justify-content-center h-100">
            <div class="d-flex justify-content-end social_icon">
               <center>
                  <form class="form-login" action="reg" method="post">
                     <h3 class="bits-text">Registration</h3>
                     <div class="form-group">
                        <input type="text"  class="form-control" name="firstname"style=" width: 40%;" placeholder="First" required>
                        <input type="text"  class="form-control" style=" width: 40%;" name="lastname" placeholder="Last" required>
                        <input type="text"  class="form-control"style=" width: 40%;" name="username" placeholder="Username" required>
                        <input type="text"  class="form-control" style=" width: 40%;" name="email" placeholder="E-mail" required>
                        <input type="password"  class="form-control"  style=" width: 40%;" name="password" placeholder="Password" required>
                        <input type="password"  class="form-control" style=" width: 40%;" name="rptpassword" placeholder="Repeat password" required>
                        <button type="submit"  class="form-control"style=" width: 40%;" name="signup-submit">Sign up</button>
                     </div>
                  </form>
               </center>
            </div>
         </div>
      </div>
   </body>
</html>
