<!DOCTYPE html>
<html><head>
<title>Bits And Bytes Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head> <body style="background-color:#5EB2F2"><h3>Check this link</h3><small>2/12/2019 - 3:14 AM</small><pre>;aldjlfjsdlfjsldjflkjsf
lsdfjldsjflsdjdflsjfldsfjlsd
woeirefjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjssssssssssssss</pre><h3>class is here</h3><small>2/12/2019 - 6:10 PM</small><pre>pllal ldkflsdkf;sdkf;dlkf;ds
dff;sdf;dkfkdkfd
sdkfsdkf;dlkf;dlf;dkf;dldfk</pre><h3>come visit</h3><small>2/12/2019 - 3:00 AM</small><pre>contentcontentcontentcontentcontentcontentcontentcontent
contentcontentcontentcontentcontentcontentcontentcontent
contentcontentcontentcontentcontentcontentcontentcontentcontentcontent
contentcontentcontentcontentcontentcontentcontent</pre><h3>Good morning!</h3><small>2/12/2019 - 3:01 AM</small><pre>contentcontentcontentcontentcontentcontentcontentcontent
contentcontentcontentcontentcontentcontentcontentcontent
contentcontentcontentcontentcontentcontentcontentcontentcontentcontent
contentcontentcontentcontentcontentcontentcontent</pre><h3>Good News</h3><small>2/12/2019 - 3:08 AM</small><pre>pla pla pla pla pla pla pla pla pla pla pla pla pla pla pla pla pla pla 
pla pla pla pla pla pla pla pla pla pla pla pla 
pla pla pla pla pla pla pla pla pla pla pla pla pla pla pla 
pla pla pla pla pla pla pla pla pla pla pla pla pla pla pla pla pla pla pla pla pla </pre><h3>sprint3</h3><small>2/12/2019 - 5:18 PM</small><pre>Are you guys ready for sprint3?</pre><h3>Title</h3><small>2/12/2019 - 3:00 AM</small><pre>contentcontentcontentcontentcontentcontentcontentcontent
contentcontentcontentcontentcontentcontentcontentcontent
contentcontentcontentcontentcontentcontentcontentcontentcontentcontent
contentcontentcontentcontentcontentcontentcontent</pre>
</body>
</html>