.bits-body {
  background-color: #C7DAE9;
}

.bits-primary {
  background-color: #5EB2F2;
}

.bits-secondary {
  background-color: #3DAAFD;
}

.bits-border {
  border-style: solid;
  border-width: 1px;
  border-color: gray !important;
}

.bits-border-rounded {
  border-style: solid;
  border-width: 1px;
  border-color: gray !important;
  border-radius: 5px;
}

.bits-text {
  color: white !important;
}

.bits-link {
  color: #6C6CF4;
}

.bits-link:hover {
  color: #FFB758;
}

a.bits-text:hover {
  color: #FFB758 !important;
}

.bits-navbar {
  background-color: #3DAAFD;
}

.bits-navbar-header {
  color: #FFFFFF;
}

a.bits-tabs-item:active {
  color: gray;
}

a.bits-tabs-item:hover {
  color: gray !important;
}

a.bits-tabs-item:link {
  color: white;
}

a.bits-tabs-item:visited {
  color: white;
}
